In [ ]:
import pandas as pd
kinase_df = pd.read_excel("Kinase_list.xlsx")

,HGNC,Entrez Gene ID,Ensembl Gene IDs,Uniprot,Alternative Name,Kinbase classification
0,AAK1,22848,ENSG00000115977,NaN,NaN,Other : NAK : BIKE
1,AATK,9625,ENSG00000181409,NaN,NaN,TK : Lmr
2,ABL1,25,ENSG00000097007,NaN,NaN,TK : Abl
3,ABL2,27,ENSG00000143322,NaN,NaN,TK : Abl
4,ACVR1,90,ENSG00000115170,NaN,NaN,TKL : STKR : STKR1
...,...,...,...,...,...,...
540,FASTKD1,79675,ENSG00000138399,NaN,NaN,not in kinbase
541,ATP1A2,477,ENSG00000018625,NaN,NaN,not kinase
542,FASTKD2,22868,ENSG00000118246,NaN,NaN,not in kinbase
543,FASTKD5,60493,ENSG00000215251,NaN,NaN,not in kinbase
544,RP2,6102,ENSG00000102218,NaN,NaN,not kinase

In [6]:
kinase_df["Kinase Classification"] = kinase_df["Kinbase classification"].str.split(":").str[0].str.strip()

In [8]:
kinase_df.to_csv('updated_kinase_list.csv', index=False)

In [9]:
df2 = pd.read_csv("updated_kinase_list.csv")

In [10]:
df2

,HGNC,Entrez Gene ID,Ensembl Gene IDs,Uniprot,Alternative Name,Kinbase classification,Kinase Classification
0,AAK1,22848,ENSG00000115977,NaN,NaN,Other : NAK : BIKE,Other
1,AATK,9625,ENSG00000181409,NaN,NaN,TK : Lmr,TK
2,ABL1,25,ENSG00000097007,NaN,NaN,TK : Abl,TK
3,ABL2,27,ENSG00000143322,NaN,NaN,TK : Abl,TK
4,ACVR1,90,ENSG00000115170,NaN,NaN,TKL : STKR : STKR1,TKL
...,...,...,...,...,...,...,...
540,FASTKD1,79675,ENSG00000138399,NaN,NaN,not in kinbase,not in kinbase
541,ATP1A2,477,ENSG00000018625,NaN,NaN,not kinase,not kinase
542,FASTKD2,22868,ENSG00000118246,NaN,NaN,not in kinbase,not in kinbase
543,FASTKD5,60493,ENSG00000215251,NaN,NaN,not in kinbase,not in kinbase
544,RP2,6102,ENSG00000102218,NaN,NaN,not kinase,not kinase